* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
img {
  display: flex;
}
ul,
ol {
  list-style: none;
}
body {
  height: 100%;
  background-image: url("../images/bg-img.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 232px;
}
.job__list {
}
.job__template {
}
.job__item {
  height: 152px;
  width: 1110px;
  background-color: bisque;
  padding: 40px 32px 40px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job__img {
}
.job__content {
  display: flex;
  align-items: center;
  gap: 24px;
}
.job__company-wrapper {
}
.job__company {
}
.btn__new {
}
.btn__featured {
}
.job__title {
}
.job__time {
}
